<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kişiye Özel Sayfa</title>
  <link rel='stylesheet' href='/css/styles2.css' />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>

  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">

        <div class="nav-title">
            <img src="c.png" width="30" />
            BulutDepolama
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
      <%=sayfaninAdı%>
        <a href="/" target="_blank"><img src="exit.png" width="25" height="25" title="Çıkış" />  Çıkış Yap</a>
    </div>
</div>


  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #495464;">
    <a style="color:#f6f6f6" class="navbar-brand" href="/">Anasayfa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <form action="/klasoriciKlasorOlustur" method="post" >
          <!--  <button class="btn btn-outline-light" type="submit" value="<%=sayfaninAdı%>" name="yeniKlasor" >Yeni Klasör +</button> -->
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Klasör Adı" aria-label="Recipient's username" aria-describedby="basic-addon2"
              name = "buttonClicked" >
              <div class="input-group-append">
                <button class="btn btn-outline-light" type="submit" value="<%=sayfaninAdı%>" name="yeniKlasor">Yeni Klasör</button>
                <input type="hidden" name="klasorunAdi" value="<%=klasorunAdi%>"
              </div>
          </div>
          </form>

        </li>

      </ul>

    </div>
  </nav>
  <form action="/geriDon" method="post">
    <button type="submit" name="geriDon" class="btn-link"><img src="/return.png" class="imageItem" alt="submit" /></button>
    <input type="hidden" name="hangiKullanicidanGeliyor" value=" <%=sayfaninAdı%>">
    <input type="hidden" name="ustKlasor" value="<%=klasorunAdi%>">

  </form>




<div class ="login-box2">


<div class="box">



          <!-- <p><%=file.name%></p> -->
          <div class="itemHead">

            <img src="/folder.png" class="imageItem" alt="folder">


            <form action="/klasoriciKlasoreGit" method="post">
              <!-- <h5 style="padding-bottom: 60px; position:relative; top:45px; right:50px; max-width:39px; min-width:39px;"> <%= file %> </h2> -->
                <button style="padding-bottom: 60px; position:relative; top:45px; right:50px; max-width:39px; type="submit" name="hangiKlasoreTiklandi" value= "<%=file.name%>" class="btn-link"><%= file.name %></button>
                <input type="hidden" name="hangiKullanicidanGeliyor" value=" <%=sayfaninAdı%>">
                <input type="hidden" name="ustKlasor" value="<%=klasorunAdi%>">


            </form>





            <form action="/klasoriciKlasoruSil" method="post" >
            <input type="hidden" name="sayfaninAdi" value="<%=sayfaninAdı%>">
            <input type="hidden" name="ustKlasor" value="<%=klasorunAdi%>">
            <button style = "max-height: 50px; max-width: 52px; background-color: #FFFFFF; border-radius: 50%; position:relative; bottom:15px; right:40px; "
              type="submit" name="klasorunAdi" value = "<%= file.name %>">
              <img src="/delete_folder2.png" class="imageDelete" alt="submit" />
            </button>
         </form>

          </div>



</div>



<!-- KLASORUN ICINDEKİ İTEM LİSTESİ AŞAĞIDA -->
<!-- KLASORUN ICINDEKİ İTEM LİSTESİ AŞAĞIDA -->
<!-- KLASORUN ICINDEKİ İTEM LİSTESİ AŞAĞIDA -->

  <div class="box2" >


  </div>

</div>






  <div class="login-box">
    <!--  SINGLE FILE -->

   <form action="/klasorUploadFile" enctype="multipart/form-data" method="POST">
      <input type="file" name="gelenFile"  />
      <input type="hidden" name="klasorAdi" value="<%=klasorunAdi%>">
      <button class="btn btn-outline-light btn-sm" name="hangiSayfa" type="submit" > Yükle </button>

   </form>


  </div>







</body>
</html>
